.dpn{display:none;}
.dpb{display:block;}

.tableFilter{border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 10px; margin-bottom: 10px;} 

.channelList{}
.channelList tr{}
.channelList tr td{}
.channelList tr td input[type=text]{width: 100%;}
.channelList tr td select{width: 100%;}
.channelList tr th{}

.cNumber{width: 9%;}
.cName{width: 16%;}
.cImage{width: 18%;}
.cCat{width: 14%}
.cCountry{width:15%;}
.cLanguage{width: 15%;}
.cAction{width: 10%;}

table.tntTable{}
table.tntTable tr{}
table.tntTable tr td{vertical-align: middle}
table.tntTable tr td textarea{width: 270px; height: 60px;}
table.tntTable tr td a.button-highlighted{display: block; float:left; margin-bottom: 5px; margin-right: 5px;}

table.tntFormTable{}
table.tntFormTable tr{}
table.tntFormTable tr{} 
table.tntFormTable tr td textarea.typeStructure{width: 460px; height: 60px;}


.tablenav .pagination span.disabled{display: inline-block; margin: 0 5px;}

.borderB{border-bottom: 1px solid #aaa;}
.borderDB{border-bottom: 1px dashed #aaa;}

.infoVideoWrapper input.error{border:1px solid red;}
.infoVideoWrapper label.error{display:none !important;}

#editVideoForm input.error, #editVideoCatForm input.error, #optionVideoForm input.error{border:1px solid red;}
#editVideoForm label.error, #editVideoCatForm label.error, #optionVideoForm label.error{display:block; color: red;}

.tntSocialFeature{}
.tntSocialFeatureDetail{display: none;}
ul.tntSocialItems{}
ul.tntSocialItems li{}
ul.tntSocialItems li label{display: block; overflow: hidden; height: 25px;}
ul.tntSocialItems li label span{display: block; width: 75px; float:left;}
input.tntSocialItem{display: block; float:left; margin-left: 5px; margin-top: 1px;}