.channelItems{overflow: hidden;}
.channelItems li{list-style: none; display: block; text-align: center; margin: 5px; display: block; width:70px; height: 80px; float:left;}
.channelItems li img{height: 50px; width: auto;}
.channelItems li p{text-align: center; font-size: 11px;}
